.favouritesBox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
}

.favouritesBox > div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#favPhoto {
  width: 340px;
  border: 1px solid #cecece;
  margin-bottom: 20px;
  cursor: pointer;
}

#favPhoto:hover {
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
  border: 1px solid #090909;
}

#favDescription {
  margin-left: 20px;
  width: 640px;
  margin-bottom: 20px;
  border: 1px solid #cecece;;
}

#favDescription:hover {
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
  border: 1px solid #0d071c;
}

.favPlaceTitle {
  font-size: 30px;
}

.favPlaceBtn {
margin-right: 20px;
border-radius: 15px;
}

 .delPlaceBtn{
  border-radius: 15px;
} 

.close:hover {
  background-color: #0d071c;
  cursor: pointer;
}

.delFavPlace {
  display: flex;
  flex-direction: row;
}

.favPlaceTitle:hover {
 cursor: pointer;
 text-decoration: underline;
}