.bad {
  position: relative;
  min-height: 0vh;
  max-height: 0%;
  margin-bottom: 0px;
  opacity: 0;
}

.categoriesBox {
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin: 0 auto; */
  position: absolute;
}

.categoriesBox > div {
  display: flex;
  flex-direction: row;
}

.placeTitleBox {
  /* display: flex;
  gap: 490px; */
  position: absolute;
  left: 0%;
  z-index: 2;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid black;
}

.placesListTitle {
  font-size: 1.0rem;
  width: 300px;
  overflow:hidden;
}

.placesPlusListTitle{
  font-size: 1.8rem;
}

#placeFilter  {
  position: absolute;
  min-height: 700px !important;
  right: 0;
  width: 320px;
  background-color: white;
  margin-top: -40px;
  /* border: 1px solid black; */
  /* background-color: white; */
   /* opacity: 0.5; */
  /* z-index: 0;  */
}

#placesContainer{
  max-height: 700px;
  width: 100%;
  overflow-y: scroll;

}

.ratingNum {
  font-size: 22px;
}

#yandexImage {
  width: 100px;
  height: 100px;
  border: 1px solid #0d071c;
}

.yandexTitle {
  text-decoration: none;
  font-size: 20px;
}

.yandexButton {
  border: 1px solid #0d071c;
  border-radius: 25px;
  background-color: #0d071c;
}

.yandexButton > a {
  color: white;
  font-size: 15px;
}

.yandexButton > a:hover {
  color: white;
  text-decoration: underline;
}

.yandexPlaceTitle {
  font-size: 1.2rem;
}

.yandexStar {
  color: #ffc107;
  width: 30px;
  height: 40px;
  font-size: 25px;
}

/* #cardPlace:not(.opacity)  {
opacity: 0.5;
} */

#cardPlace  {
  position: relative;
  border: none;
  /* z-index: 2; */
  background-color: transparent;
  width: 100%;

  /* background-color: white;
  opacity: 0.5; */
  }

/* .imgTop {
  position: inherit;
  z-index: 3;
} */

.bottomBlock {
  position: absolute;
  z-index: 1;
 background-color:white;
 opacity: 0.6;
 /* width: 100%;
 height: 100%;
 left:50%;
 top:50%;
 transform: translate(-50%,-50%); */
}

.bottomBlock:hover #cardPlace {
  background-color:white;
}

#cardPlace:hover {
  border: 1px solid #0d071c;
  transition: 0.5s;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}






