.info-container {
  display: flex;
  justify-content: space-evenly;
}

#rating {
  display: flex;
  justify-content: space-between;
}

.d-block {
  margin: 2rem auto;
}

.carousel-img {
  max-width: 70rem;
  max-height: 30rem;
}

.review-img {
  max-width: 100px;
}